---
import BaseHead from "../components/BaseHead.astro";
import ContentWithBackground from "../components/ContentWithBackground.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<ContentWithBackground background="/steamclock.jpg">
			<div class="flex justify-center p-12 ">
				<h3 class="text-white">Our Mission</h3>
			</div>
		</ContentWithBackground>
		<main class="max-w-5xl">
			<p>
				Strong Towns is a global movement that has set its sights on
				transforming the way we envision and build our communities. The
				movement is rooted in a deep-seated passion for urban
				development and public policy, with a mission to foster
				sustainability, resilience, and vibrancy in communities across
				the globe. We exist to challenge conventional thinking, pushing
				boundaries and provoking fresh perspectives on urban
				development. Our goal is not just to inspire a new generation of
				urbanists, but to empower them to take action and drive change
				in their own communities.
			</p>
			<p>
				Established in late 2023, Strong Towns Vancouver is a piece of
				this dynamic global movement. We are more than just a local
				chapter – we are a local conversation! A collective of
				individuals from all sorts of personal and professional
				backgrounds dedicated to fostering a stronger and more resilient
				Vancouver. Our focus is on promoting models of development that
				will sustain and strengthen our city in the long term.
			</p>
			<p>
				We understand that building a stronger city goes beyond the
				physical infrastructure. It means cultivating a culture of
				thought-provoking conversations and engaging events that bring
				people together. It means providing valuable resources to help
				our community understand and implement our mission. But most
				importantly, it means driving action, no matter how small.
			</p>

			<p>
				We believe that each one of us has a role to play in making
				Vancouver stronger and more vibrant. Whether it's participating
				in a local event, contributing to a discussion, or simply
				spreading the word about our mission, every action counts. We
				invite you to join us on this transformative journey. Embrace
				the opportunity to be a part of a global change. Let's work to
				create a stronger, more resilient Vancouver, together!
			</p>
		</main>
		<Footer />
	</body>
</html>
