---
interface Props {
    styleClass?: string;
    background: string;
}

const { background, styleClass } = Astro.props;
---

<div
    class=`mx-auto h-full bg-cover md:bg-center bg-bottom bg-no-repeat shadow-lg ${styleClass || ''}`
    style={`background-image: url('${background}')`}
>
    <div
        class=`w-full h-full text-white`
        style="background-color: rgba(0, 0, 0, 0.8)"
    >
        <slot />
    </div>
</div>
