---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<script>
    let isHeaderOpened = false

    const button = document.getElementById('hamburger')
    const navmenu = document.getElementById('navmenu')

    function toggleHeader(state: boolean) {
        if (state) {
            navmenu?.classList.add('hidden')
            navmenu?.classList.remove('block')
        } else {
            navmenu?.classList.add('block')
            navmenu?.classList.remove('hidden')
        }
    }

    button?.addEventListener('click', () => {
        toggleHeader(isHeaderOpened)
        isHeaderOpened = !isHeaderOpened
    })
</script>

<header class="flex justify-center m-0 mx-auto p-0 px-4">
    <nav
        class="grid grid-cols-8 my-2 md:my-4 max-w-7xl items-center justify-between"
    >
        <h1 class="font-synthese m-0 px-1 text-base">
            <a href="/">
                <img
                    src={'/logo/strong-towns-vancouver-512.png'}
                    alt={SITE_TITLE}
                    width={100}
                />
            </a>
        </h1>
        <div
            class="lg:hidden flex items-center justify-center col-start-8 mx-auto"
        >
            <button id="hamburger"
                ><svg
                    width="40px"
                    height="40px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_429_11066)">
                        <path
                            d="M3 6.00092H21M3 12.0009H21M3 18.0009H21"
                            stroke="#292929"
                            stroke-width="2.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_429_11066">
                            <rect
                                width="24"
                                height="24"
                                fill="white"
                                transform="translate(0 0.000915527)"></rect>
                        </clipPath>
                    </defs>
                </svg></button
            >
        </div>
        <div
            id="navmenu"
            class:list={[
                'font-synthese hidden w-full lg:flex lg:grow lg:col-start-7 lg:w-max py-2',
            ]}
        >
            <HeaderLink href="/blog">Articles</HeaderLink>
            <HeaderLink href="/get-involved">Get Involved</HeaderLink>
        </div>
    </nav>
</header>
